/* body {
    background-color: silver;
} */

/* .navbar {
    opacity: 0.5;
} */

table thead i {
    margin-left: 10px;
    margin-top: -5px; 
    margin-bottom: -5px;
}

i:active {
    color: white;
}