/* .container-main{
    padding: 2em;
} */

.card-info{
    height: 21em;
}

.container-two{
    text-align: center;
}

.blockquote{
    margin-top: 3em;
    font-size: x-large;
}


.card1 {
    border: none;
}

#card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

